+b('articles')
  each img in ['assets/img/coffee.jpg', 'assets/img/sea.jpg', 'assets/img/etreta.jpg', 'assets/img/hidding-man.jpg', 'assets/img/pepper.jpg', 'assets/img/train.jpg']
    if img
      +summary(img)
