+b('footer', 'footer')
  +e('footer', 'logo')
    +logo('footer')

  +e('footer', 'nav', 'nav')
    +e('footer', 'list', 'ul')
      each i in [0,1,2,3]
        +e('footer', 'list-item', 'li')
          span!= "TRISTIQUE"
          +e('footer', 'sublist', 'ul')
            each text in ['Cras justo odio', 'Dapibus ac facilisis', 'Egestas eget ', 'Maecenas faucibus', 'Mollis interdum', 'raesent commodo', 'Cursus magna']
              +e('footer', 'sublist-item', 'li')
                a(href='#')!= text

  +e('footer', 'copyright', 'p')!= "Sollic © 2016"
