+b('header', 'header')
  +e('header', 'burger', 'button')(
    aria-label='Accéder au menu principal'
    class='lg:hidden'
  )

  +e('header', 'logo')
    +logo('header')

  +e('header', 'nav', 'nav')
    h2.is-hidden= "Menu Principal"
    +e('header', 'list', 'ul')
      each name in ['Cras', 'Quam', 'Mattis', 'Cras', 'Etiam', 'Pharetra']
        +e('header', 'list-item', 'li')
          a(href='#')!= name

  +e('header', 'search', 'button')(aria-label='Recherche')
