+b('hero', 'article')
  +e('hero', 'img', 'img')(src='assets/img/paris.jpg')
  +e('hero', 'title', 'h2')
    | Cras justo odio,
    br
    | dapibus
    span
      |
      | ac facilisis
      |
    br
    | in, egestas eget
    br
    | quam.
  +b('button', 'a').hero__button!= "Nullam Vulputate Tortor"
