@include b('summary') {
  @include m('big') {
    @include bp('lg') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $gutter;
    }
  }

  @include e('img-container') {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    @include bp('lg') {
      padding-bottom: 74%;
    }
  }

  @include e('img') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include e('content') {
    align-self: flex-end;
  }

  @include e('top') {
    margin: $gutter 0 12px;
  }

  @include e('cat') {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  @include e('date') {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  @include e('text') {
    padding-top: 10px;
    border-top: 1px solid color-get('black.12');
  }
}
