include ./mixins/bem.pug
include ./mixins/logo.pug
include ./mixins/summary.pug

doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title= "Sollic - Accueil"
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'
      rel='stylesheet'
    )
    link(rel='stylesheet' href='./assets/sass/index.scss')
  body
    +b('wrapper')
      include ./partials/header.pug
      +b('main', 'main')
        include ./partials/hero.pug
        include ./partials/articles.pug
      include ./partials/footer.pug
    //- script(src='./assets/ts/index.ts')
